/*基本樣式*/


/* 顏色 */



/* 通用樣式 */
.container {
    max-width: 1296px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}

@media screen and (max-width:1100px){
    .container{
        width: 100%;    
        padding-left: 12px;
        padding-right:12px ;  
    }

}

.nav{
    align-items: center;
}
.nav-l{
    margin-right: auto;
}
.nav-r{
    padding-right: 12px;
}

/*顏色*/
.n3{
    color: var(--neutral-300);
}

.n5{
    color: var(--neutral-500);
}

.n6{
    color: var(--neutral-600);
    
}

.n9{
    color: var(--neutral-900);
}
.p4{
    color: var(--primary-400);
}

.d3{
    color: var(--danger-300);
}

/*格式*/
.side-r{
    max-width: 746px;
    padding: 4px;

}


@media screen and (max-width:1100px){
    .side-r{
        width: 100%;    
        padding-left: 12px;
        padding-right:12px ;  
    }


}

@media screen and (max-width:768px){
    .content{
        flex-direction: column;
    }
    .dn{
        display: none;
    }

}

.row{

    margin-left: -4px;
    margin-right: -4px;
}
.col-6{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}




.card img{
    width: 100%;
    height: auto;
}
.card{
    width: 50%;
    padding: 4px;

}

@media screen and (max-width:1100px){
    .card{
        width: 100%;    
        padding-left: 12px;
        padding-right:12px ;  
    }

}

.side-l{
    max-width: 526px;
    margin-left: 12px;
}
@media screen and (max-width:1100px){
    .side-l{
        width: 100%;    
        padding-left: 12px;
        padding-right:12px ;  
        align-items: center;  
        margin: 0 auto;
    }

}
.shoescolor-color{
    max-width: 64px;
    text-align: center;
    cursor: pointer;    
}
.shoescolor-color img{
    width: 100%;
    height: auto;
}
.shoescolor-color:hover{
    border: 1px solid rgb(65, 71, 165);
    
    cursor: pointer;

}

.size-card{
    max-width: 160px;
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    background-color: white;
    text-align: center;
    border: 1px solid var(--neutral-300);
}

.size-card:hover{
    border: 1px solid black;
}

.size-card.disabled {
  opacity: 0.4;
  pointer-events: none;
  cursor: not-allowed;
}



.choose button{
    display: block;
    width: 49%;
    padding: 12px ;
    background-color: white;
    cursor: pointer;
}

.material{
    border-bottom: 1px solid var(--neutral-300);
    
}

.maylike{
    max-width: 1296px;
    overflow: hidden; /* 隱藏 X 軸滾動條 */
    position: relative;
}

.maylike-type{
    flex: 0 0 auto; /* 不縮放，保持固定寬度 */
    width: 33.333%;
    padding-left: 12px;
    padding-right: 12px;
    
}
.maylike-type img{
    width: 100%;
    height: auto;
}

@media screen and (max-width:1100px){
    .maylike-type{
        width: 280px;    
        padding-left: 12px;
        padding-right:12px ;  
        max-width: none; 
        position: static;
        
    }

}

.maylike-type:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}


.rowb{
    margin-left: -12px;
    margin-right: -12px;
}


.footer{
    
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: #F8F9FA;
    
}
.footer-t{
    max-width: 1296px;
    margin: 0 auto;
    border-bottom: 1px solid var(--neutral-300);
}

.footer-t-r{
    color: var(--neutral-900);
}

.footer-b p{
    color: var(--neutral-600);
}
.footer-b{
    justify-content: center;
}
.copyright{
    text-align: center;
    line-height: 1.5;
}
.mga{
    margin: 0 auto;
}
.member{
    background-color:var(--primary-200) ;
}

.member button{
    background-color: black;
    color: white;
    margin:  24px;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
}
@media screen and (max-width:576px){
    .mga{
        flex-direction: column;
        align-items: center;  
        margin: 0 auto;
    }
    .member button{
        margin-top: 8px;
    }


}
.count{
    margin-top:33.5px ;
    margin-bottom: 33.5px;
    
}

@media screen and (max-width:576px){
    .count{
        font-size: 20px;
        line-height: 1.2;
        font-weight: 700;
        
    }


}
.add-to-favorites:hover{
    background-color: black;
    color: white;
}

@media screen and (max-width: 576px) {
    .footer {
        padding-left:12px;  /* 讓內容離開螢幕邊緣 */
        padding-right: 12px;
        box-sizing: border-box;
    }
    .footer-t {
        flex-direction: column;    /* 主區塊垂直排列 */
        align-items: flex-start;       
        text-align: left;
        
    }

    .footer-t-r {
        flex-direction: column;    /* 讓連結垂直排列 */
        justify-content: center;
        padding-left: 12px;
        gap: 16px; /* 控制上下間距 */
    }
}